
html{
    overflow: auto;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
nav{
    width:100%;
    background: rgb(21, 21, 21);
    position: fixed;
    top: 0;
    display: inline-block;
    font-size: 1vw;
}
li{
    float: right;
}
a{
    padding: 1vw;
    width: 10vw;
    display: block;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.Phasmo{
    float: left;

}
#home{
    height:830px;
    display: inline-block;
    width:100%;
    color:white;
    background-image: url('Others/PhasmoMain.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
#Equipment{
    height:100px;
    display: inline-block;
    width:100%;
    color:white;
    text-align: center;
    font-size: 1vw;
    
}
#Map{
    height:100px;
    display: inline-block;
    width:100%;
    color:white;
    font-size: 1vw;
}
#Ghost{
    height:100px;
    display: inline-block;
    width:100%;
    color:white;
    font-size: 1vw;
    text-align: center;
}
#Object{
    height:100px;
    display: inline-block;
    width:100%;
    color:white;
    font-size: 1vw;
}
#Download{
    height:100px;
    display: inline-block;
    width:100%;
    color:white;
    font-size: 1vw;
}
h1{
    margin:100px;
    text-align: center;
    padding:0;  
    
}
.Down{
    background:rgb(49, 48, 48);
}
.Equip{
    background:rgb(49, 48, 48);
}
.Ght{
    background:rgb(49,48,48);
}
.map{
    background: rgb(49,48,48);
}
.Obj{
    background: rgb(49,48,48);
}
body {
    font-family: "Lato", sans-serif;
    margin:0;
    padding:0;
    font-family: Arial;
    background-color: rgb(49,48,48);
}

.sidenav {
    width: 13vw;
    position: fixed;
    z-index: 1;
    top: 4vw;
    left: 1vw;
    background: rgb(73, 72, 72);
    overflow-y: scroll;
    padding: 10px;
    height: 100%;
}

.sidenav a {
    padding: 4px 8px 6px 16px;
    font-size: 1vw;
    width:11vw;
    color: #2196F3;
    display: inline-block;
    text-align: center;
}
.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenav a:hover {
color: #064579;
}
.need a{
    color: rgb(197, 0, 197);

}
.need a:hover{
    color: rgb(109, 53, 109);
}

.sidenav_maps {
    width: 13vw;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 10px;
    background: rgb(73, 72, 72);
    overflow-y: scroll;
    padding: 10px;
    }
    
.sidenav_maps a {
padding: 4px 8px 6px 16px;
font-size: 1vw;
width:11vw;
color: rgb(75, 231, 75);
display: inline-block;
text-align: center;
}

.sidenav_maps a:hover {
color: rgb(45, 109, 45);
}
.sidenav_maps::-webkit-scrollbar {
    display: none;
}
.sidenav_ghost {
    width: 13vw;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 10px;
    background: rgb(73, 72, 72);
    padding: 10px;
    overflow-y:auto;
    height: 100%;
    }
.sidenav_ghost::-webkit-scrollbar {
    display: none;
}
.sidenav_ghost a {
font-size: 1vw;
width:11vw;
color: #7235d4;
display: inline-block;
text-align: center;
}

.sidenav_ghost a:hover {
color: #380761;
}
.medium a{
    color : rgb(235, 235, 77);
}
.medium a:hover{
    color: rgb(119, 119, 49);
}
.large a{
    color: rgb(255, 58, 58);
}
.large a:hover{
    color: rgb(92, 22, 22);
}
.main {
margin-left: 140px; 
font-size: 28px; 
padding: 10px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
.home-text{
    text-align: center;
    font-size: 1vw;
    color: white;
    height: 700px;
    
}
.description{
    background-color: white;
    padding: 50px;
    margin: 20px;
    
    height: auto;
    display: inline-block;
    color: black;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 70vw;

}
.red{
    color:red;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
.btn:hover {
    background-color: RoyalBlue;
 }
.item{
    height: 700px;
    color: white;
    text-align: center;
    font-size:1vw;
    width: 60vw;
    margin: auto;
}
.Maps{
    height: 700px;
    color: white;
    text-align: center;
    font-size:1vw;
    width: 60vw;
    margin: auto;
}
.Ghosts{
    height: 700px;
    color: white;
    text-align: center;
    font-size:1vw;
    width: 60vw;
    margin: auto;
}
.filterDiv {
    float: center;
    color: #ffffff;
    display: none;
    text-align: center;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
 
 
  .button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  
  .button.active {
    background-color: #666;
    color: white;
  }
  .gap{
    height: 2vw;
  }
  h2{
    font-family: Inconsolata;
  }