*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
nav{
    width:100%;
    background: rgb(21, 21, 21);
    overflow: hidden;
    position: fixed;
    top: 0;
}
li{
    float: right;
}
a{
    padding: 20px;
    width: 150px;
    display: block;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.Phasmo{
    float: left;

}
#home{
    height:700px;
    background:rgb(49, 48, 48);
    display: inline-block;
    width:100%;
    color:white;
}
#Equipments{
    height:700px;
    background:rgb(49, 48, 48);
    display: inline-block;
    width:100%;
    color:white;
}
#Map{
    height:700px;
    background:rgb(49, 48, 48);
    display: inline-block;
    width:100%;
    color:white;
}
#Ghost{
    height:700px;
    background:rgb(49, 48, 48);
    display: inline-block;
    width:100%;
    color:white;
}
#Object{
    height:700px;
    background:rgb(49, 48, 48);
    display: inline-block;
    width:100%;
    color:white;
}
#Download{
    height:700px;
    background:rgb(49, 48, 48);
    display: inline-block;
    width:100%;
    color:white;
}
h1{
    margin:100px;
    text-align: center;
    padding:0;
}
.Down{
    background:rgb(49, 48, 48);
}
.Equip{
    background:rgb(49, 48, 48);
}
.Ght{
    background:rgb(49,48,48);
}
.map{
    background: rgb(49,48,48);
}
.Obj{
    background: rgb(49,48,48);
}
body {
    font-family: "Lato", sans-serif;
    margin:0;
    padding:0;
    font-family: Arial;
    overflow: hidden
}

.sidenav {
width: 160px;
position: fixed;
z-index: 1;
top: 100px;
left: 10px;
background: rgb(73, 72, 72);
overflow-x: hidden;
padding: 10px 0;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 12px;
color: #2196F3;
display: block;
}

.sidenav a:hover {
color: #064579;
}

.main {
margin-left: 140px; /* Same width as the sidebar + left position in px */
font-size: 28px; /* Increased text to enable scrolling */
padding: 0px 10px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}